@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.mobile-container {
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px 2px #3333331A;
    border-radius: 3px;
    overflow: hidden;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header input {
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    background-color: #eee;
    font-family: inherit;
}

header button {
    border: none;
    font-size: 2rem;
    columns: #eee;
    margin-left: 10px;
    background-color: transparent;
}

.fav-container {
    padding: 0.25rem 1rem;
    text-align: center;
    background-color: rgb(227, 192, 249);
}
.fav-meals{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;   
}

.fav-meals li {
    width: 85px;
    margin: 5px;
    position: relative;
}

.fav-meals li .clear{
    background-color: transparent;
    position: absolute;
    opacity: 0;
    top: -0.5rem;
    right: -0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.fav-meals li:hover .clear{
    opacity: 1;
}

.fav-meals li img {
    border-radius: 50%;
    object-fit: cover;
    width: 70px;
    height: 70px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px 2px #3333331A;
}

.fav-meals li span {
    font-size: 0.8rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}

.fav-meals li span:hover {
    white-space: normal;
    overflow: auto;
}

.meals{
    margin: 1.5rem;
    box-shadow: 0 0 10px 2px #3333331A;
    border-radius: 3px;
}

.meal-header{
    position: relative;
}

.meal-header .random{
    position: absolute;
    top: 1rem;
    background-color: white;
    padding: 0.25rem 0.5rem;
    border-bottom-right-radius:3px;
    border-top-right-radius: 3px;

}

.meal-header img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4{
    margin: 0;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: gray;
    cursor: pointer;
}

.meal-body .fav-btn.active {
    color: rebeccapurple;
}

img {
    max-width: 100%;
}